#workbench\.view\.explorer .open-editors .monaco-list-rows {
    zoom: 1.2;
}
#workbench\.view\.explorer .explorer-folders-view .monaco-list-rows {
    zoom: 1.2;
}
.monaco-list-row {
    height: calc(var(height) * 1.2);
    line-height: calc(var(line-height) * 1.2);
    top: calc(var(top) * 1.2);
}
