.open-editors .monaco-list-row, .explorer-folders-view .monaco-list-row {
    font-size: 14px !important;
}
.tabs-breadcrumbs {
    font-size: 14px;
}
.tabs-container .monaco-icon-label-container .label-name {
    font-size: 14px !important;
}
